# Node dependencies & build outputs
node_modules/
dist/
dist-ssr/
*.local

# Rust & Tauri build outputs
src-tauri/target/

# Logs and diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE configs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
